rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /contacts/{document=**} {
      allow read, write: if true;
    }
    match /contactsCAD/{document=**} {
      allow read, write: if true;
    }
    match /forms/{document=**} {
      allow read, write: if true;
    }
    match /users/{userId} {
      allow read: if request.auth != null && (request.auth.uid == userId || request.auth.token.role == 'admin');
      allow write: if request.auth != null && request.auth.token.role == 'admin';
    }
  }
}
